{% extends "base.html" %}

{% block announce %}
<p>🙌‍ Merci aux contributeurs</p>
{% endblock %}

{% block analytics %}
<script data-goatcounter="https://sykursen.goatcounter.com/count" async src="/assets/count.js"></script>
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "f2f7e3b196064a71a2da91a80a1f7c62"}'></script>
<script>console.log("RAFVOSF{V_Y0i3_A3CUN3Y}")</script>
{% endblock %}
